.home_container{
    @apply flex flex-col xl:flex-row items-center xl:justify-center justify-between mb-10 mt-60 bg-card-bg border-card-border border-2 rounded-lg p-8 lg:mx-48 md:mx-28 sm:mx-28 mx-5;
}

.home_content_container{
    @apply mr-0 mb-20 xl:mb-0;
}

.home_title{
    @apply text-white text-2xl sm:text-3xl lg:text-4xl;
}

.home_title_subtitle{
    @apply text-white text-xs pt-4;
}

.lets_talk_button{
    @apply  md:hidden
}

/* 
'sm': '640px',
// => @media (min-width: 640px) { ... }

'md': '768px',
// => @media (min-width: 768px) { ... }

'lg': '1024px',
// => @media (min-width: 1024px) { ... }

'xl': '1280px',
// => @media (min-width: 1280px) { ... }

'2xl': '1536px', */