.exp_container{
    @apply flex flex-col xl:flex-row items-center xl:justify-center justify-between mb-10 mt-0 lg:mx-48 md:mx-28 sm:mx-28 mx-5;
}

.exp_content_container{
    @apply mr-0 mb-20 xl:mb-0;
}

.exp_title{
    @apply text-white text-4xl;
}

.exp_title_subtitle{
    @apply text-white text-xs pt-4;
}

.exp_card_container{
    @apply gap-4 grid xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1 w-full;
}

.exp_card_container_center{
    @apply gap-4 grid xl:grid-cols-1 lg:grid-cols-2 w-full;
}

.exp_card{
    @apply flex flex-col p-4 bg-card-bg border-card-border border-2 rounded-lg w-full;
}

.exp_card_title{
    @apply text-white text-xl;
}


.skils_container{
    @apply px-4 py-2 mr-2 mb-2 bg-card-bg border-card-border border-2 rounded-full ;
}



.skils_hide_button{
    @apply hidden xl:block
}


.show_button{
    @apply block xl:hidden flex-col grid lg:grid-cols-2 gap-4 md:grid-cols-1
}

