.work_container{
    @apply flex flex-col xl:flex-row items-center xl:justify-center justify-between mb-10 bg-card-bg border-card-border border-2 rounded-lg p-8 lg:mx-48 md:mx-28 sm:mx-28 mx-5;
}

.work_content_container{
    @apply mr-0 mb-20 xl:mb-0;
}

.work_title{
    @apply text-white text-4xl;
}

.work_title_subtitle{
    @apply text-white text-xs pt-4;
}


.work_projects_container{
    @apply gap-4 grid xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-1  ;
}

.work_project_item{
    @apply border rounded-lg h-64;
}