.footer_container{
    @apply flex  flex-col xl:flex-row items-center xl:justify-center justify-between;
}

.footer_content_container{
    @apply mr-0
}

.footer_title{
    @apply  text-white text-2xl sm:text-3xl lg:text-4xl;
}

.footer_title_subtitle{
    @apply text-white text-xs pt-4;
}